@import "../../assets/variables.scss";

nav  { 
    display: flex;
    justify-content: space-between;
    background-color: $egg-yellow;
    padding: 48px;

    div { 
        display: flex;
        flex-direction: row;

        h2 {
            margin: 0 10px;
        }
    }
}