.accountSetUp { 
    border: solid black 2px;
    border-radius: 8px;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

img { 
    height: 25px;
}